<div class="card m-0">
  <div class="row m-0">
    <div class="col s12 p-0">
      <div class="video-container">
          <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/6h47iVGx1N0?autoplay=1&modestbranding=1&showinfo=0" 
          frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/6h47iVGx1N0?rel=0&amp;controls=1&amp;showinfo=0&amp;modestbranding=1&amp;autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<div class="card green lighten-3">
  <div class="row">
    <div class="col s12">
      <h4 class="center">I love you forever baby sweet love</h4>
    </div>
  </div>
</div>
